stages:
  - build_test_push
  - deploy_dev
  - deploy_prod

variables:
  IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

services:
  - name: docker:27-dind
    command:
      - "--host=tcp://0.0.0.0:2375"
      - "--tls=false"
      - "--insecure-registry=192.168.0.119:5050"
      - "--registry-mirror=https://dockerhub.timeweb.cloud"
      - "--registry-mirror=https://mirror.gcr.io"

build_test_push:
  stage: build_test_push
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin http://$CI_REGISTRY
  script:
    - docker build -t $IMAGE .
    - docker run --rm $IMAGE pytest
    - docker push $IMAGE
#  only:
#    - master

deploy_dev:
  stage: deploy_dev
  needs: [build_test_push]
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin http://$CI_REGISTRY
  script:
    - docker stop demo_ci_cd || true
    - docker rm demo_ci_cd || true 
    - docker pull $IMAGE 
    - docker run -d --name demo_ci_cd -p 5000:5000 $IMAGE 
  only:
    - dev

deploy_prod:
  stage: deploy-prod
  needs: [build_test_push]
  image: alpine
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/nopass
    - chmod 600 ~/.ssh/nopass
    - ssh-keyscan 192.168.0.108 >> ~/.ssh/known_hosts
  script:
    - | 
      ssh -i ~/.ssh/nopass deploy@192.168.0.108 "
        echo '$CI_REGISTRY_PASSWORD' | docker login -u '$CI_REGISTRY_USER' --password-stdin $CI_REGISTRY &&  
        docker pull $IMAGE &&
        docker stop gitlab_ci_cd || true &&
        docker rm gitlab_ci_cd || true &&
        docker run -d --restart unless-stopped --name gitlab_ci_cd -p 5010:5000 $IMAGE
      "
  only:
    - master

